
.root {
  background-color: #1b1a1a;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.navbar{
  background-color: #1b1a1a;
  color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(36, 36, 36);
}

.navbarBrand{
  float: left;
}

.navbarToolbar{
  float: right;
}